[Desktop Entry]
Name=FFADO Mixer
Name[ru]=Микшер FFADO
Name[fr]=Mixeur FFADO
Comment=Audio mixer for FireWire devices
Comment[ru]=Микшер для звуковых устройств с интерфейсом FireWire
Comment[fr]=Mixeur audio pour les interfaces FireWire
Exec=ffado-mixer
GenericName=FireWire audio mixer
GenericName[ru]=Звуковой микшер FireWire
GenericName[fr]=Mixeur audio FireWire
Icon=hi64-apps-ffado
Type=Application
Categories=Mixer;Audio;AudioVideo;HardwareSettings;Qt;
Keywords=FireWire;Sound Interface;
